z<%- include("./partials/header") %>
<form action="/updateDetails" method="POST">
    <h1>Update Employee </h1>
    <label>Employee :  </label>
    <select name="empid" >
        <% for (const i in dropdownVals) { %>
        <option value="<%= dropdownVals[i].empid %>"><%= dropdownVals[i].empid %> - <%= dropdownVals[i].empname %> </option>
        <% } %>
    </select>
   <br>
    <button>Update</button><br><br>
</form>
    <%- include("./partials/links") %>
    <%- include("./partials/footer") %>